doctype html
html(lang='en')
	head
		//- Meta tags
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0, viewport-fit=cover')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')

		//- Page info
		title Modern Browser Upgrade
		meta(name='description' content='Upgrade to a modern web browsing experience, today!')

		//- Style
		style: include ./style.css

		//-if isProd
			script(async defer data-website-id='not-tet' src='not-yet')
	body