body {
	margin: 0;
	font-family: sans-serif;
	text-align: center;
}

h1 {
	margin: 0;
}

#title {
	margin: 10% 0 0 0;
	font-size: 2.5rem;
}

#caption {
	font-size: 1.4rem;
	max-width: 700px;
	margin: 1.2rem auto 0 auto;
}

#browsers {
	margin-top: 40px;
}

.browser {
	margin-right: 40px;
	padding: 11px;
	display: inline-block;
	border-radius: 15px;
	border: 3px solid rgb(175, 175, 175);
}

.button {
	margin-top: 10px;
	display: inline-block;
	text-decoration: none;
	background-color: rgb(27, 148, 255);
	color: white;
	padding: 10px;
	border-radius: 7px;
	font-size: 1.4rem;
}
