include _main.pug
#updated
	h1#title Your browser is up to date!
	p#caption If you are seeing this page it is mostly likely an error and wasn't supposed to happen!
	a.button(onclick='history.go(-1)' style='cursor: pointer;') GO BACK